# Environment variables
.env

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Streamlit config
.streamlit/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
